In [0]:
import requests
import numpy as np
import pandas as pd
import json

In [0]:
api_address = 'http://api.openweathermap.org/data/2.5/forecast?id=4553440&APPID=433a9f7fceea286455665e66ff540703'
Json_data = requests.get(api_address).json()
#time
t1 = Json_data['list'][0]['dt_txt']
t2 = Json_data['list'][1]['dt_txt']
t3 = Json_data['list'][2]['dt_txt']
t4 = Json_data['list'][3]['dt_txt']
t5 = Json_data['list'][4]['dt_txt']
t6 = Json_data['list'][5]['dt_txt']
t7 = Json_data['list'][6]['dt_txt']
t8 = Json_data['list'][7]['dt_txt']
t = [t1,t2,t3,t4,t5,t6,t7,t8]

#temp
T1 = (Json_data['list'][0]['main']['temp']) * (9/5) - 459.67
T2 = (Json_data['list'][1]['main']['temp']) * (9/5) - 459.67
T3 = (Json_data['list'][2]['main']['temp']) * (9/5) - 459.67
T4 = (Json_data['list'][3]['main']['temp']) * (9/5) - 459.67
T5 = (Json_data['list'][4]['main']['temp']) * (9/5) - 459.67
T6 = (Json_data['list'][5]['main']['temp']) * (9/5) - 459.67
T7 = (Json_data['list'][6]['main']['temp']) * (9/5) - 459.67
T8 = (Json_data['list'][7]['main']['temp']) * (9/5) - 459.67
T = [T1,T2,T3,T4,T5,T6,T7,T8]

#hum
H1 = Json_data['list'][0]['main']['humidity']
H2 = Json_data['list'][1]['main']['humidity']
H3 = Json_data['list'][2]['main']['humidity']
H4 = Json_data['list'][3]['main']['humidity']
H5 = Json_data['list'][4]['main']['humidity']
H6 = Json_data['list'][5]['main']['humidity']
H7 = Json_data['list'][6]['main']['humidity']
H8 = Json_data['list'][7]['main']['humidity']
H = [H1,H2,H3,H4,H5,H6,H7,H8]

#wind speed
WS1 = Json_data['list'][0]['wind']['speed']
WS2 = Json_data['list'][1]['wind']['speed']
WS3 = Json_data['list'][2]['wind']['speed']
WS4 = Json_data['list'][3]['wind']['speed']
WS5 = Json_data['list'][4]['wind']['speed']
WS6 = Json_data['list'][5]['wind']['speed']
WS7 = Json_data['list'][6]['wind']['speed']
WS8 = Json_data['list'][7]['wind']['speed']
WS = [WS1,WS2,WS3,WS4,WS5,WS6,WS7,WS8]

#wind dir
WD1 = Json_data['list'][0]['wind']['deg']
WD2 = Json_data['list'][1]['wind']['deg']
WD3 = Json_data['list'][2]['wind']['deg']
WD4 = Json_data['list'][3]['wind']['deg']
WD5 = Json_data['list'][4]['wind']['deg']
WD6 = Json_data['list'][5]['wind']['deg']
WD7 = Json_data['list'][6]['wind']['deg']
WD8 = Json_data['list'][7]['wind']['deg']
WD = [WD1,WD2,WD3,WD4,WD5,WD6,WD7,WD8]

#pressure
P1 = Json_data['list'][0]['main']['pressure']
P2 = Json_data['list'][1]['main']['pressure']
P3 = Json_data['list'][2]['main']['pressure']
P4 = Json_data['list'][3]['main']['pressure']
P5 = Json_data['list'][4]['main']['pressure']
P6 = Json_data['list'][5]['main']['pressure']
P7 = Json_data['list'][6]['main']['pressure']
P8 = Json_data['list'][7]['main']['pressure']
P = [P1,P2,P3,P4,P5,P6,P7,P8]

#weather id
w_id1 = Json_data['list'][0]['weather'][0]['id']
w_id2 = Json_data['list'][1]['weather'][0]['id']
w_id3 = Json_data['list'][2]['weather'][0]['id']
w_id4 = Json_data['list'][3]['weather'][0]['id']
w_id5 = Json_data['list'][4]['weather'][0]['id']
w_id6 = Json_data['list'][5]['weather'][0]['id']
w_id7 = Json_data['list'][6]['weather'][0]['id']
w_id8 = Json_data['list'][7]['weather'][0]['id']
w_id = [w_id1,w_id2,w_id3,w_id4,w_id5,w_id6,w_id7,w_id8]

#weather event
w_m1 = Json_data['list'][0]['weather'][0]['main']
w_m2 = Json_data['list'][1]['weather'][0]['main']
w_m3 = Json_data['list'][2]['weather'][0]['main']
w_m4 = Json_data['list'][3]['weather'][0]['main']
w_m5 = Json_data['list'][4]['weather'][0]['main']
w_m6 = Json_data['list'][5]['weather'][0]['main']
w_m7 = Json_data['list'][6]['weather'][0]['main']
w_m8 = Json_data['list'][7]['weather'][0]['main']
w_m = [w_m1,w_m2,w_m3,w_m4,w_m5,w_m6,w_m7,w_m8] 
#weather state
w_d1 = Json_data['list'][0]['weather'][0]['description']
w_d2 = Json_data['list'][1]['weather'][0]['description']
w_d3 = Json_data['list'][2]['weather'][0]['description']
w_d4 = Json_data['list'][3]['weather'][0]['description']
w_d5 = Json_data['list'][4]['weather'][0]['description']
w_d6 = Json_data['list'][5]['weather'][0]['description']
w_d7 = Json_data['list'][6]['weather'][0]['description']
w_d8 = Json_data['list'][7]['weather'][0]['description']
w_d = [w_d1,w_d2,w_d3,w_d4,w_d5,w_d6,w_d7,w_d8]

In [0]:
df_online = pd.DataFrame({'date': t,'Humidity': H,'Wind speed': WS, 'Wind Direction':WD,'Air Pressure':P,'Rain Type':w_id,'Rain intensity':w_d,'Rain event':w_m,'temperature':T}, columns=['date','Humidity','Wind speed',
                                                                                                                         'Wind Direction','Air Pressure','Rain Type','Rain intensity','Rain event','temperature'])
df_online

                  date  Humidity  ...  Rain event  temperature
0  2020-04-26 18:00:00        36  ...       Clear       74.084
1  2020-04-26 21:00:00        37  ...      Clouds       74.804
2  2020-04-27 00:00:00        58  ...      Clouds       68.756
3  2020-04-27 03:00:00        55  ...      Clouds       61.718
4  2020-04-27 06:00:00        66  ...      Clouds       58.352
5  2020-04-27 09:00:00        70  ...      Clouds       57.236
6  2020-04-27 12:00:00        63  ...      Clouds       59.702
7  2020-04-27 15:00:00        68  ...        Rain       63.752

[8 rows x 9 columns]

In [0]:
df_online = pd.DataFrame({'date': t,'Humidity': H,'Wind speed': WS, 'Wind Direction':WD,'Air Pressure':P,'Rain Type':w_id,'Rain intensity':w_d,'Rain event':w_m,'temperature':T}, columns=['date','Humidity','Wind speed',
                                                                                                                         'Wind Direction','Air Pressure','Rain Type','Rain intensity','Rain event','temperature'])
df_online

                  date  Humidity  ...  Rain event  temperature
0  2020-04-15 18:00:00        41  ...       Clear       63.968
1  2020-04-15 21:00:00        38  ...       Clear       65.390
2  2020-04-16 00:00:00        55  ...       Clear       59.666
3  2020-04-16 03:00:00        58  ...      Clouds       50.036
4  2020-04-16 06:00:00        64  ...      Clouds       45.176
5  2020-04-16 09:00:00        72  ...      Clouds       43.142
6  2020-04-16 12:00:00        72  ...      Clouds       42.350
7  2020-04-16 15:00:00        56  ...      Clouds       54.050

[8 rows x 9 columns]

In [0]:
headers = {'accept': 'application/json','apikey': 'TfvwMAIRVIF7NkNuB7RAEJIEJA437sdM'}
response1 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=si&fields=temp%3AF&start_time=now', headers=headers)
response2 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=humidity&start_time=now', headers=headers)
response3 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=wind_speed%3Amph&start_time=now', headers=headers)
response4 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=wind_direction%3Adegrees&start_time=now', headers=headers)
response5 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=baro_pressure%3AhPa&start_time=now', headers=headers)
response6 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=precipitation_type&start_time=now', headers=headers)
response7 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=precipitation%3Ain%2Fhr&start_time=now', headers=headers)
response8 = requests.get('https://api.climacell.co/v3/weather/forecast/hourly?lat=35&lon=-97&unit_system=us&fields=precipitation_probability%3A%25&start_time=now', headers=headers)

R1 = response1.content
R2 = response2.content
R3 = response3.content
R4 = response4.content
R5 = response5.content
R6 = response6.content
R7 = response7.content
R8 = response8.content
R1 = json.loads(R1)
R2 = json.loads(R2)
R3 = json.loads(R3)
R4 = json.loads(R4)
R5 = json.loads(R5)
R6 = json.loads(R6)
R7 = json.loads(R7)
R8 = json.loads(R8)
print('1',R1)
print('2',R2)
print('3',R3)
print('4',R4)
print('5',R5)
print('6',R6)
print('7',R7)
print('8',R8)

1 {'message': 'API rate limit exceeded'}
2 {'message': 'API rate limit exceeded'}
3 {'message': 'API rate limit exceeded'}
4 {'message': 'API rate limit exceeded'}
5 {'message': 'API rate limit exceeded'}
6 {'message': 'API rate limit exceeded'}
7 {'message': 'API rate limit exceeded'}
8 {'message': 'API rate limit exceeded'}

In [0]:
date = [(R1[0]['observation_time']['value']),(R1[1]['observation_time']['value']),(R1[2]['observation_time']['value']),(R1[3]['observation_time']['value']),(R1[4]['observation_time']['value']),(R1[5]['observation_time']['value']),
        (R1[6]['observation_time']['value']),(R1[7]['observation_time']['value']),(R1[8]['observation_time']['value']),(R1[9]['observation_time']['value']),(R1[10]['observation_time']['value']),(R1[11]['observation_time']['value']),(R1[12]['observation_time']['value']),(R1[13]['observation_time']['value']),
        (R1[14]['observation_time']['value']),(R1[15]['observation_time']['value']),(R1[16]['observation_time']['value']),(R1[17]['observation_time']['value']),(R1[18]['observation_time']['value']),(R1[19]['observation_time']['value']),(R1[20]['observation_time']['value']),(R1[21]['observation_time']['value']),
        (R1[22]['observation_time']['value']),(R1[23]['observation_time']['value']),(R1[24]['observation_time']['value'])]
Temp = [(R1[0]['temp']['value']),(R1[1]['temp']['value']),(R1[2]['temp']['value']),(R1[3]['temp']['value']),(R1[4]['temp']['value']),(R1[5]['temp']['value']),
        (R1[6]['temp']['value']),(R1[7]['temp']['value']),(R1[8]['temp']['value']),(R1[9]['temp']['value']),(R1[10]['temp']['value']),(R1[11]['temp']['value']),(R1[12]['temp']['value']),(R1[13]['temp']['value']),
        (R1[14]['temp']['value']),(R1[15]['temp']['value']),(R1[16]['temp']['value']),(R1[17]['temp']['value']),(R1[18]['temp']['value']),(R1[19]['temp']['value']),(R1[20]['temp']['value']),(R1[21]['temp']['value']),
        (R1[22]['temp']['value']),(R1[23]['temp']['value']),(R1[24]['temp']['value'])]
hum = [(R2[0]['humidity']['value']),(R2[1]['humidity']['value']),(R2[2]['humidity']['value']),(R2[3]['humidity']['value']),(R2[4]['humidity']['value']),(R2[5]['humidity']['value']),
        (R2[6]['humidity']['value']),(R2[7]['humidity']['value']),(R2[8]['humidity']['value']),(R2[9]['humidity']['value']),(R2[10]['humidity']['value']),(R2[11]['humidity']['value']),(R2[12]['humidity']['value']),(R2[13]['humidity']['value']),
        (R2[14]['humidity']['value']),(R2[15]['humidity']['value']),(R2[16]['humidity']['value']),(R2[17]['humidity']['value']),(R2[18]['humidity']['value']),(R2[19]['humidity']['value']),(R2[20]['humidity']['value']),(R2[21]['humidity']['value']),
        (R2[22]['humidity']['value']),(R2[23]['humidity']['value']),(R2[24]['humidity']['value'])]
Wind_S = [(R3[0]['wind_speed']['value']),(R3[1]['wind_speed']['value']),(R3[2]['wind_speed']['value']),(R3[3]['wind_speed']['value']),(R3[4]['wind_speed']['value']),(R3[5]['wind_speed']['value']),
        (R3[6]['wind_speed']['value']),(R3[7]['wind_speed']['value']),(R3[8]['wind_speed']['value']),(R3[9]['wind_speed']['value']),(R3[10]['wind_speed']['value']),(R3[11]['wind_speed']['value']),(R3[12]['wind_speed']['value']),(R3[13]['wind_speed']['value']),
        (R3[14]['wind_speed']['value']),(R3[15]['wind_speed']['value']),(R3[16]['wind_speed']['value']),(R3[17]['wind_speed']['value']),(R3[18]['wind_speed']['value']),(R3[19]['wind_speed']['value']),(R3[20]['wind_speed']['value']),(R3[21]['wind_speed']['value']),
        (R3[22]['wind_speed']['value']),(R3[23]['wind_speed']['value']),(R3[24]['wind_speed']['value'])]
Wind_D = [(R4[0]['wind_direction']['value']),(R4[1]['wind_direction']['value']),(R4[2]['wind_direction']['value']),(R4[3]['wind_direction']['value']),(R4[4]['wind_direction']['value']),(R4[5]['wind_direction']['value']),
        (R4[6]['wind_direction']['value']),(R4[7]['wind_direction']['value']),(R4[8]['wind_direction']['value']),(R4[9]['wind_direction']['value']),(R4[10]['wind_direction']['value']),(R4[11]['wind_direction']['value']),(R4[12]['wind_direction']['value']),(R4[13]['wind_direction']['value']),
        (R4[14]['wind_direction']['value']),(R4[15]['wind_direction']['value']),(R4[16]['wind_direction']['value']),(R4[17]['wind_direction']['value']),(R4[18]['wind_direction']['value']),(R4[19]['wind_direction']['value']),(R4[20]['wind_direction']['value']),(R4[21]['wind_direction']['value']),
        (R4[22]['wind_direction']['value']),(R4[23]['wind_direction']['value']),(R4[24]['wind_direction']['value'])]
Press = [(R5[0]['baro_pressure']['value']),(R5[1]['baro_pressure']['value']),(R5[2]['baro_pressure']['value']),(R5[3]['baro_pressure']['value']),(R5[4]['baro_pressure']['value']),(R5[5]['baro_pressure']['value']),
        (R5[6]['baro_pressure']['value']),(R5[7]['baro_pressure']['value']),(R5[8]['baro_pressure']['value']),(R5[9]['baro_pressure']['value']),(R5[10]['baro_pressure']['value']),(R5[11]['baro_pressure']['value']),(R5[12]['baro_pressure']['value']),(R5[13]['baro_pressure']['value']),
        (R5[14]['baro_pressure']['value']),(R5[15]['baro_pressure']['value']),(R5[16]['baro_pressure']['value']),(R5[17]['baro_pressure']['value']),(R5[18]['baro_pressure']['value']),(R5[19]['baro_pressure']['value']),(R5[20]['baro_pressure']['value']),(R5[21]['baro_pressure']['value']),
        (R5[22]['baro_pressure']['value']),(R5[23]['baro_pressure']['value']),(R5[24]['baro_pressure']['value'])]
Rain_T = [(R6[0]['precipitation_type']['value']),(R6[1]['precipitation_type']['value']),(R6[2]['precipitation_type']['value']),(R6[3]['precipitation_type']['value']),(R6[4]['precipitation_type']['value']),(R6[5]['precipitation_type']['value']),
        (R6[6]['precipitation_type']['value']),(R6[7]['precipitation_type']['value']),(R6[8]['precipitation_type']['value']),(R6[9]['precipitation_type']['value']),(R6[10]['precipitation_type']['value']),(R6[11]['precipitation_type']['value']),(R6[12]['precipitation_type']['value']),(R6[13]['precipitation_type']['value']),
        (R6[14]['precipitation_type']['value']),(R6[15]['precipitation_type']['value']),(R6[16]['precipitation_type']['value']),(R6[17]['precipitation_type']['value']),(R6[18]['precipitation_type']['value']),(R6[19]['precipitation_type']['value']),(R6[20]['precipitation_type']['value']),(R6[21]['precipitation_type']['value']),
        (R6[22]['precipitation_type']['value']),(R6[23]['precipitation_type']['value']),(R6[24]['precipitation_type']['value'])]
Rain_I = [(R7[0]['precipitation']['value']),(R7[1]['precipitation']['value']),(R7[2]['precipitation']['value']),(R7[3]['precipitation']['value']),(R7[4]['precipitation']['value']),(R7[5]['precipitation']['value']),
        (R7[6]['precipitation']['value']),(R7[7]['precipitation']['value']),(R7[8]['precipitation']['value']),(R7[9]['precipitation']['value']),(R7[10]['precipitation']['value']),(R7[11]['precipitation']['value']),(R7[12]['precipitation']['value']),(R7[13]['precipitation']['value']),
        (R7[14]['precipitation']['value']),(R7[15]['precipitation']['value']),(R7[16]['precipitation']['value']),(R7[17]['precipitation']['value']),(R7[18]['precipitation']['value']),(R7[19]['precipitation']['value']),(R7[20]['precipitation']['value']),(R7[21]['precipitation']['value']),
        (R7[22]['precipitation']['value']),(R7[23]['precipitation']['value']),(R7[24]['precipitation']['value'])]
Rain_E = [(R8[0]['precipitation_probability']['value']),(R8[1]['precipitation_probability']['value']),(R8[2]['precipitation_probability']['value']),(R8[3]['precipitation_probability']['value']),(R8[4]['precipitation_probability']['value']),(R8[5]['precipitation_probability']['value']),
        (R8[6]['precipitation_probability']['value']),(R8[7]['precipitation_probability']['value']),(R8[8]['precipitation_probability']['value']),(R8[9]['precipitation_probability']['value']),(R8[10]['precipitation_probability']['value']),(R8[11]['precipitation_probability']['value']),(R8[12]['precipitation_probability']['value']),(R8[13]['precipitation_probability']['value']),
        (R8[14]['precipitation_probability']['value']),(R8[15]['precipitation_probability']['value']),(R8[16]['precipitation_probability']['value']),(R8[17]['precipitation_probability']['value']),(R8[18]['precipitation_probability']['value']),(R8[19]['precipitation_probability']['value']),(R8[20]['precipitation_probability']['value']),(R8[21]['precipitation_probability']['value']),
        (R8[22]['precipitation_probability']['value']),(R8[23]['precipitation_probability']['value']),(R8[24]['precipitation_probability']['value'])]

print(date)
print(Temp)
print(hum)
print(Wind_S)
print(Wind_D)
print(Press)
print(Rain_T)
print(Rain_I)
print(Rain_E)

['2020-04-26T16:00:00.000Z', '2020-04-26T17:00:00.000Z', '2020-04-26T18:00:00.000Z', '2020-04-26T19:00:00.000Z', '2020-04-26T20:00:00.000Z', '2020-04-26T21:00:00.000Z', '2020-04-26T22:00:00.000Z', '2020-04-26T23:00:00.000Z', '2020-04-27T00:00:00.000Z', '2020-04-27T01:00:00.000Z', '2020-04-27T02:00:00.000Z', '2020-04-27T03:00:00.000Z', '2020-04-27T04:00:00.000Z', '2020-04-27T05:00:00.000Z', '2020-04-27T06:00:00.000Z', '2020-04-27T07:00:00.000Z', '2020-04-27T08:00:00.000Z', '2020-04-27T09:00:00.000Z', '2020-04-27T10:00:00.000Z', '2020-04-27T11:00:00.000Z', '2020-04-27T12:00:00.000Z', '2020-04-27T13:00:00.000Z', '2020-04-27T14:00:00.000Z', '2020-04-27T15:00:00.000Z', '2020-04-27T16:00:00.000Z']
[68.76, 71.99, 74.44, 76.02, 77.47, 78.57, 79.38, 79.18, 76.96, 71.57, 67.57, 65.03, 63.59, 62.66, 61.7, 60.18, 62.6, 62.6, 60.8, 59, 57.2, 59, 62.6, 66.2, 68]
[50.6, 47.3, 38.2, 36, 32.8, 30.7, 28.3, 28.3, 34.3, 42.6, 45.8, 55.2, 58.2, 58.3, 58.2, 64.8, 58, 59, 63, 72, 77, 77, 74, 69, 63]
[5.71, 7.02, 6.68, 5.96, 7.66, 8.5, 10.94, 14.23, 12.91, 10.24, 10.07, 10.27, 10.49, 12.43, 13.08, 11.4, 17.9, 17.9, 13.42, 11.18, 13.42, 17.9, 22.37, 22.37, 24.61]
[219.17, 214.06, 200.72, 184.29, 167.23, 160.1, 161.34, 162.4, 160.96, 150.91, 147.64, 149.99, 156.18, 163.51, 168.6, 168.86, 174, 182, 181, 174, 170, 172, 181, 195, 197]
[1021.95, 1021.84, 1021.81, 1021.29, 1019.99, 1018.72, 1018.43, 1017.68, 1016.9, 1016.91, 1017.13, 1017.46, 1017.15, 1016.61, 1016.56, 1016.62, 1016, 1016, 1017, 1017, 1017, 1017, 1016, 1016, 1016]
['none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'rain', 'rain', 'none', 'none', 'rain', 'rain']
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0039, 0.0039, 0, 0, 0.0039, 0.0039]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 5, 5, 5, 10, 10, 10, 10]

In [0]:
Online_df_24 = pd.DataFrame({'Date_Time': date,'Humidity': hum,'Wind speed': Wind_S, 'Wind Direction':Wind_D,'Air Pressure':Press,'Rain intensity':Rain_T,'Rain Type':Rain_I,'Rain event':Rain_E,'temperature':Temp}, columns=['Date_Time','temperature','Humidity','Wind speed',
                                                                                                                         'Wind Direction','Air Pressure','Rain Type','Rain intensity','Rain event'])
Online_df_24

                   Date_Time  temperature  ...  Rain intensity  Rain event
0   2020-04-26T12:00:00.000Z        47.68  ...            none           0
1   2020-04-26T13:00:00.000Z        51.74  ...            none           0
2   2020-04-26T14:00:00.000Z        58.45  ...            none           0
3   2020-04-26T15:00:00.000Z        64.27  ...            none           0
4   2020-04-26T16:00:00.000Z        68.67  ...            none           0
5   2020-04-26T17:00:00.000Z        71.47  ...            none           0
6   2020-04-26T18:00:00.000Z        73.94  ...            none           0
7   2020-04-26T19:00:00.000Z        76.18  ...            none           0
8   2020-04-26T20:00:00.000Z        77.81  ...            none           0
9   2020-04-26T21:00:00.000Z        79.08  ...            none           0
10  2020-04-26T22:00:00.000Z        79.70  ...            none           0
11  2020-04-26T23:00:00.000Z        79.18  ...            none           0
12  2020-04-27T00:00:00.000Z        76.90  ...            none           0
13  2020-04-27T01:00:00.000Z        71.51  ...            none           0
14  2020-04-27T02:00:00.000Z        67.62  ...            none           0
15  2020-04-27T03:00:00.000Z        65.43  ...            none           0
16  2020-04-27T04:00:00.000Z        64.40  ...            none           0
17  2020-04-27T05:00:00.000Z        64.40  ...            none           0
18  2020-04-27T06:00:00.000Z        62.60  ...            none           0
19  2020-04-27T07:00:00.000Z        62.60  ...            rain           0
20  2020-04-27T08:00:00.000Z        60.80  ...            rain           0
21  2020-04-27T09:00:00.000Z        60.80  ...            rain           5
22  2020-04-27T10:00:00.000Z        59.00  ...            rain           5
23  2020-04-27T11:00:00.000Z        57.20  ...            rain           5
24  2020-04-27T12:00:00.000Z        57.20  ...            rain           5

[25 rows x 9 columns]

In [0]:
Online_df_24['Rain intensity'] = Online_df_24['Rain intensity'].apply({'rain':1, 'none':0}.get)
Online_df_24['Rain event'] = np.where(Online_df_24['Rain event'] <= 15, 0, Online_df_24['Rain event'])
Online_df_24['Rain event'] = np.where(Online_df_24['Rain event'] >= 15, 1, Online_df_24['Rain event'])

In [0]:

from datetime import datetime, timedelta
Online_df_24['Date_Time'] = pd.to_datetime(Online_df_24.Date_Time)
Online_df_24['Date_Time'] = Online_df_24['Date_Time'].dt.tz_convert('US/Central')
Online_df_24['Date_Time'] = Online_df_24['Date_Time'].dt.strftime('%m-%d-%Y %H:%M:%S')
Online_df_24 = Online_df_24.set_index('Date_Time')
Online_df_24

                     temperature  Humidity  ...  Rain intensity  Rain event
Date_Time                                   ...
04-26-2020 07:00:00        47.68      85.6  ...               0           0
04-26-2020 08:00:00        51.74      81.9  ...               0           0
04-26-2020 09:00:00        58.45      68.2  ...               0           0
04-26-2020 10:00:00        64.27      58.4  ...               0           0
04-26-2020 11:00:00        68.67      55.0  ...               0           0
04-26-2020 12:00:00        71.47      48.8  ...               0           0
04-26-2020 13:00:00        73.94      41.3  ...               0           0
04-26-2020 14:00:00        76.18      37.0  ...               0           0
04-26-2020 15:00:00        77.81      32.5  ...               0           0
04-26-2020 16:00:00        79.08      29.2  ...               0           0
04-26-2020 17:00:00        79.70      28.1  ...               0           0
04-26-2020 18:00:00        79.18      29.6  ...               0           0
04-26-2020 19:00:00        76.90      35.0  ...               0           0
04-26-2020 20:00:00        71.51      43.5  ...               0           0
04-26-2020 21:00:00        67.62      48.3  ...               0           0
04-26-2020 22:00:00        65.43      54.0  ...               0           0
04-26-2020 23:00:00        64.40      56.0  ...               0           0
04-27-2020 00:00:00        64.40      56.0  ...               0           0
04-27-2020 01:00:00        62.60      62.0  ...               0           0
04-27-2020 02:00:00        62.60      64.0  ...               1           0
04-27-2020 03:00:00        60.80      65.0  ...               1           0
04-27-2020 04:00:00        60.80      67.0  ...               1           0
04-27-2020 05:00:00        59.00      73.0  ...               1           0
04-27-2020 06:00:00        57.20      76.0  ...               1           0
04-27-2020 07:00:00        57.20      78.0  ...               1           0

[25 rows x 8 columns]

In [0]:
headers = """Accept-Encoding: gzip, deflate, br
Content-Type: application/x-www-form-urlencoded; charset=UTF-8
X-Requested-With: XMLHttpRequest
Content-Length: 29
Origin: https://rwis.tulsa.ou.edu
Connection: keep-alive
Referer: https://rwis.tulsa.ou.edu/rwis/report/showReport/32
Cookie: ci_session=a%3A5%3A%7Bs%3A10%3A%22session_id%22%3Bs%3A32%3A%2206ec16d96834f33d43c2a1928980af11%22%3Bs%3A10%3A%22ip_address%22%3Bs%3A7%3A%220.0.0.0%22%3Bs%3A10%3A%22user_agent%22%3Bs%3A78%3A%22Mozilla%2F5.0+%28Windows+NT+10.0%3B+Win64%3B+x64%3B+rv%3A76.0%29+Gecko%2F20100101+Firefox%2F76.0%22%3Bs%3A13%3A%22last_activity%22%3Bi%3A1587442722%3Bs%3A9%3A%22user_data%22%3Bs%3A0%3A%22%22%3B%7D36214d1d0bdb8e2d4615dac516b932a46d5866c9"""
headers = dict([[s.strip() for s in line.split(':', 1)]
                               for line in headers.strip().split('\n')])

body = """station_id=32&date=2020-04-22"""

In [0]:
import httplib2 
h = httplib2.Http()
url = 'https://rwis.tulsa.ou.edu/rwis/report/ajaxGetTempOverDay/'
resp, content = h.request(url, 'POST', body=body, headers=headers)
Q = json.loads(content)
Q

[{'date_time': '2020-04-22',
  'hour': 0,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 60.93,
  'temp_probe_1': 53.79,
  'temp_probe_2': 47.65},
 {'date_time': '2020-04-22',
  'hour': 1,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 61.31,
  'temp_probe_1': 51.7,
  'temp_probe_2': 46.99},
 {'date_time': '2020-04-22',
  'hour': 2,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 60.83,
  'temp_probe_1': 50.09,
  'temp_probe_2': 46.42},
 {'date_time': '2020-04-22',
  'hour': 3,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 60.9,
  'temp_probe_1': 48.96,
  'temp_probe_2': 45.93},
 {'date_time': '2020-04-22',
  'hour': 4,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 61.5,
  'temp_probe_1': 47.95,
  'temp_probe_2': 45.47},
 {'date_time': '2020-04-22',
  'hour': 5,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 62.2,
  'temp_probe_1': 47.28,
  'temp_probe_2': 45.15},
 {'date_time': '2020-04-22',
  'hour': 6,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 63.62,
  'temp_probe_1': 46.89,
  'temp_probe_2': 44.91},
 {'date_time': '2020-04-22',
  'hour': 7,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 70.88,
  'temp2_surface_temperature': 67.1,
  'temp_avg': 64.23,
  'temp_probe_1': 46.82,
  'temp_probe_2': 44.8},
 {'date_time': '2020-04-22',
  'hour': 8,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 68.52,
  'temp2_surface_temperature': 65.54,
  'temp_avg': 62.97,
  'temp_probe_1': 47.26,
  'temp_probe_2': 44.52},
 {'date_time': '2020-04-22',
  'hour': 9,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 62.29,
  'temp2_surface_temperature': 61.74,
  'temp_avg': 61.96,
  'temp_probe_1': 45.86,
  'temp_probe_2': 43.76},
 {'date_time': '2020-04-22',
  'hour': 10,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 63.07,
  'temp2_surface_temperature': 62.82,
  'temp_avg': 62.72,
  'temp_probe_1': 45.78,
  'temp_probe_2': 43.43},
 {'date_time': '2020-04-22',
  'hour': 11,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 64.24,
  'temp2_surface_temperature': 64.18,
  'temp_avg': 63.57,
  'temp_probe_1': 46.11,
  'temp_probe_2': 43.24},
 {'date_time': '2020-04-22',
  'hour': 12,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 64.33,
  'temp2_surface_temperature': 64.19,
  'temp_avg': 63.36,
  'temp_probe_1': 46.68,
  'temp_probe_2': 43.22},
 {'date_time': '2020-04-22',
  'hour': 13,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 64.4,
  'temp2_surface_temperature': 64.28,
  'temp_avg': 62.54,
  'temp_probe_1': 46.76,
  'temp_probe_2': 43.09},
 {'date_time': '2020-04-22',
  'hour': 14,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 65.33,
  'temp2_surface_temperature': 65.36,
  'temp_avg': 63.65,
  'temp_probe_1': 47.31,
  'temp_probe_2': 43.24},
 {'date_time': '2020-04-22',
  'hour': 15,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 64.62,
  'temp2_surface_temperature': 23.87,
  'temp_avg': 63.39,
  'temp_probe_1': 47.44,
  'temp_probe_2': 43.21},
 {'date_time': '2020-04-22',
  'hour': 16,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 68.86,
  'temp2_surface_temperature': 69.28,
  'temp_avg': 64.27,
  'temp_probe_1': 47.84,
  'temp_probe_2': 43.42},
 {'date_time': '2020-04-22',
  'hour': 17,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 68.36,
  'temp2_surface_temperature': 70.88,
  'temp_avg': 66.19,
  'temp_probe_1': 49.78,
  'temp_probe_2': 44.15},
 {'date_time': '2020-04-22',
  'hour': 18,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 68.36,
  'temp2_surface_temperature': 70.88,
  'temp_avg': 64.84,
  'temp_probe_1': 49.7,
  'temp_probe_2': 44.26},
 {'date_time': '2020-04-22',
  'hour': 19,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 67.96,
  'temp2_surface_temperature': 70.33,
  'temp_avg': 61.59,
  'temp_probe_1': 47.28,
  'temp_probe_2': 43.62},
 {'date_time': '2020-04-22',
  'hour': 20,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 58.94,
  'temp2_surface_temperature': 58.26,
  'temp_avg': 59.82,
  'temp_probe_1': 45.05,
  'temp_probe_2': 42.94},
 {'date_time': '2020-04-22',
  'hour': 21,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 57.98,
  'temp2_surface_temperature': 57.31,
  'temp_avg': 59.3,
  'temp_probe_1': 43.5,
  'temp_probe_2': 42.51},
 {'date_time': '2020-04-22',
  'hour': 22,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 56.72,
  'temp2_surface_temperature': 56.02,
  'temp_avg': 58.01,
  'temp_probe_1': 42.37,
  'temp_probe_2': 42.13},
 {'date_time': '2020-04-22',
  'hour': 23,
  'name': '35ST092',
  'station_id': 32,
  'temp1_surface_temperature': 56.02,
  'temp2_surface_temperature': 55.31,
  'temp_avg': 57.51,
  'temp_probe_1': 41.37,
  'temp_probe_2': 41.67}]

In [0]:
date_time = [Q[0]['date_time'],Q[1]['date_time'],Q[2]['date_time'],Q[3]['date_time'],Q[4]['date_time'],Q[5]['date_time'],Q[6]['date_time'],Q[7]['date_time'],Q[8]['date_time'],
             Q[9]['date_time'],Q[10]['date_time'],Q[11]['date_time'],Q[12]['date_time'],Q[13]['date_time'],Q[14]['date_time'],Q[15]['date_time'],Q[16]['date_time'],Q[17]['date_time'],
             Q[18]['date_time'],Q[19]['date_time'],Q[20]['date_time'],Q[21]['date_time'],Q[22]['date_time'],Q[23]['date_time']]
date_hour = [Q[0]['hour'],Q[1]['hour'],Q[2]['hour'],Q[3]['hour'],Q[4]['hour'],Q[5]['hour'],Q[6]['hour'],Q[7]['hour'],Q[8]['hour'],
             Q[9]['hour'],Q[10]['hour'],Q[11]['hour'],Q[12]['hour'],Q[13]['hour'],Q[14]['hour'],Q[15]['hour'],Q[16]['hour'],Q[17]['hour'],
             Q[18]['hour'],Q[19]['hour'],Q[20]['hour'],Q[21]['hour'],Q[22]['hour'],Q[23]['hour']]
Temp = [Q[0]['temp_avg'],Q[1]['temp_avg'],Q[2]['temp_avg'],Q[3]['temp_avg'],Q[4]['temp_avg'],Q[5]['temp_avg'],Q[6]['temp_avg'],Q[7]['temp_avg'],Q[8]['temp_avg'],
             Q[9]['temp_avg'],Q[10]['temp_avg'],Q[11]['temp_avg'],Q[12]['temp_avg'],Q[13]['temp_avg'],Q[14]['temp_avg'],Q[15]['temp_avg'],Q[16]['temp_avg'],Q[17]['temp_avg'],
             Q[18]['temp_avg'],Q[19]['temp_avg'],Q[20]['temp_avg'],Q[21]['temp_avg'],Q[22]['temp_avg'],Q[23]['temp_avg']]
Temp_Sur1 = [Q[0]['temp1_surface_temperature'],Q[1]['temp1_surface_temperature'],Q[2]['temp1_surface_temperature'],Q[3]['temp1_surface_temperature'],Q[4]['temp1_surface_temperature'],Q[5]['temp1_surface_temperature'],Q[6]['temp1_surface_temperature'],Q[7]['temp1_surface_temperature'],Q[8]['temp1_surface_temperature'],
             Q[9]['temp1_surface_temperature'],Q[10]['temp1_surface_temperature'],Q[11]['temp1_surface_temperature'],Q[12]['temp1_surface_temperature'],Q[13]['temp1_surface_temperature'],Q[14]['temp1_surface_temperature'],Q[15]['temp1_surface_temperature'],Q[16]['temp1_surface_temperature'],Q[17]['temp1_surface_temperature'],
             Q[18]['temp1_surface_temperature'],Q[19]['temp1_surface_temperature'],Q[20]['temp1_surface_temperature'],Q[21]['temp1_surface_temperature'],Q[22]['temp1_surface_temperature'],Q[23]['temp1_surface_temperature']]
Temp_Sur2 = [Q[0]['temp2_surface_temperature'],Q[1]['temp2_surface_temperature'],Q[2]['temp2_surface_temperature'],Q[3]['temp2_surface_temperature'],Q[4]['temp2_surface_temperature'],Q[5]['temp2_surface_temperature'],Q[6]['temp2_surface_temperature'],Q[7]['temp2_surface_temperature'],Q[8]['temp2_surface_temperature'],
             Q[9]['temp2_surface_temperature'],Q[10]['temp2_surface_temperature'],Q[11]['temp2_surface_temperature'],Q[12]['temp2_surface_temperature'],Q[13]['temp2_surface_temperature'],Q[14]['temp2_surface_temperature'],Q[15]['temp2_surface_temperature'],Q[16]['temp2_surface_temperature'],Q[17]['temp2_surface_temperature'],
             Q[18]['temp2_surface_temperature'],Q[19]['temp2_surface_temperature'],Q[20]['temp2_surface_temperature'],Q[21]['temp2_surface_temperature'],Q[22]['temp2_surface_temperature'],Q[23]['temp2_surface_temperature']]
Probe1 = [Q[0]['temp_probe_1'],Q[1]['temp_probe_1'],Q[2]['temp_probe_1'],Q[3]['temp_probe_1'],Q[4]['temp_probe_1'],Q[5]['temp_probe_1'],Q[6]['temp_probe_1'],Q[7]['temp_probe_1'],Q[8]['temp_probe_1'],
             Q[9]['temp_probe_1'],Q[10]['temp_probe_1'],Q[11]['temp_probe_1'],Q[12]['temp_probe_1'],Q[13]['temp_probe_1'],Q[14]['temp_probe_1'],Q[15]['temp_probe_1'],Q[16]['temp_probe_1'],Q[17]['temp_probe_1'],
             Q[18]['temp_probe_1'],Q[19]['temp_probe_1'],Q[20]['temp_probe_1'],Q[21]['temp_probe_1'],Q[22]['temp_probe_1'],Q[23]['temp_probe_1']]
Probe2 = [Q[0]['temp_probe_2'],Q[1]['temp_probe_2'],Q[2]['temp_probe_2'],Q[3]['temp_probe_2'],Q[4]['temp_probe_2'],Q[5]['temp_probe_2'],Q[6]['temp_probe_2'],Q[7]['temp_probe_2'],Q[8]['temp_probe_2'],
             Q[9]['temp_probe_2'],Q[10]['temp_probe_2'],Q[11]['temp_probe_2'],Q[12]['temp_probe_2'],Q[13]['temp_probe_2'],Q[14]['temp_probe_2'],Q[15]['temp_probe_2'],Q[16]['temp_probe_2'],Q[17]['temp_probe_2'],
             Q[18]['temp_probe_2'],Q[19]['temp_probe_2'],Q[20]['temp_probe_2'],Q[21]['temp_probe_2'],Q[22]['temp_probe_2'],Q[23]['temp_probe_2']]
RWIS_DF = pd.DataFrame({'Date': date_time,'Hour': date_hour,'Temperature': Temp, 'IR1':Temp_Sur1,'IR2':Temp_Sur1,'Probe 1':Probe1,'Probe 2':Probe1}, columns=['Date','Hour','Temperature','Probe 1','Probe 2','IR1',
                                                                                                                         'IR2'])
RWIS_DF

          Date  Hour  Temperature  Probe 1  Probe 2    IR1    IR2
0   2020-04-22     0        60.93    53.79    53.79  70.88  70.88
1   2020-04-22     1        61.31    51.70    51.70  70.88  70.88
2   2020-04-22     2        60.83    50.09    50.09  70.88  70.88
3   2020-04-22     3        60.90    48.96    48.96  70.88  70.88
4   2020-04-22     4        61.50    47.95    47.95  70.88  70.88
5   2020-04-22     5        62.20    47.28    47.28  70.88  70.88
6   2020-04-22     6        63.62    46.89    46.89  70.88  70.88
7   2020-04-22     7        64.23    46.82    46.82  70.88  70.88
8   2020-04-22     8        62.97    47.26    47.26  68.52  68.52
9   2020-04-22     9        61.96    45.86    45.86  62.29  62.29
10  2020-04-22    10        62.72    45.78    45.78  63.07  63.07
11  2020-04-22    11        63.57    46.11    46.11  64.24  64.24
12  2020-04-22    12        63.36    46.68    46.68  64.33  64.33
13  2020-04-22    13        62.54    46.76    46.76  64.40  64.40
14  2020-04-22    14        63.65    47.31    47.31  65.33  65.33
15  2020-04-22    15        63.39    47.44    47.44  64.62  64.62
16  2020-04-22    16        64.27    47.84    47.84  68.86  68.86
17  2020-04-22    17        66.19    49.78    49.78  68.36  68.36
18  2020-04-22    18        64.84    49.70    49.70  68.36  68.36
19  2020-04-22    19        61.59    47.28    47.28  67.96  67.96
20  2020-04-22    20        59.82    45.05    45.05  58.94  58.94
21  2020-04-22    21        59.30    43.50    43.50  57.98  57.98
22  2020-04-22    22        58.01    42.37    42.37  56.72  56.72
23  2020-04-22    23        57.51    41.37    41.37  56.02  56.02